{% extends "base.html" %}
{% block content %}  
<h1>Oluterä</h1>

  <table class="table table-striped table-bordered"> 
    <thead>
      <tr>
        <th>Oluen nimi</th>
        <th>Valmistuminen</th>
        <th>Erän koko</th>
        <th>Erästä vapaana</th>
        <th>Hinta</th>
        <th></th>
    </thead>
    {% if olutera %}
    <tbody>
      <tr>
        <td>{{olutera.oluen_nimi}}</td>
        <td>{{olutera.valmistuminen}}</td>
        <td>{{olutera.eran_koko}} litraa</td>
        <td>{{olutera.vapaana}} litraa</td>
        <td>{{olutera.hinta}} €/litra</td>
        <td><form method="post" action="{{base_path}}/hallinnointi/oluterat/poisto">
                <input name="id" class="form-control" type="hidden" value="{{olutera.id}}">
                <button type="submit" class="btn btn-danger">Poista oluterä</button>
                </form></td>
        <td><form method="post" action="{{base_path}}/hallinnointi/oluterat/uusipvm">
                <input name="id" class="form-control" type="hidden" value="{{olutera.id}}">
                <input name="valmistuminen" class="form-control" type="date"> 
                <button type="submit" class="btn btn-primary">Muuta pvm</button>
            </form></td>
      </tr>
    </tbody>
    {% endif %}
  </table>

<br/>

{% if errors %}
 <div class="alert alert-danger">
   <ul>
     {% for error in errors %}
       <li>{{error}}</li>
     {% endfor %}
   </ul>
 </div>
{% endif %}

{% if message %}
 <div class="alert alert-success">
   {{message}}
 </div>
{% endif %}

<br/>

<h2>Oluterän kaikki tilaukset</h2>

  <table class="table table-striped table-bordered"> 
    <thead>
      <tr>
        <th>Tilaaja</th>
        <th>Tilauksen tiedot</th>
        <th>Tilauksen sisältö</th>
        
        
        <th></th>
    </thead>

    <tbody>
        
      {% for tilausrivi in tilausrivit %}
      
      <tr>
          {% for solu in tilausrivi %}
          
            {% if solu.yrityksen_nimi %} 
            
            <td>
                <table class="table table-striped table-bordered">
                    <tbody>
                      <tr>
                        <td>TOIMII: {{tilausrivi[0].yrityksen_nimi}} {{tilausrivi['yritysasiakas'].yrityksen_nimi}}</td> 
                      </tr>
                      <tr>
                        <td>123456-7</td>
                      </tr>
                      <tr>
                        <td>Koodikatu 1, 11010 Helsinki</td>
                      </tr>
                      <tr>
                        <td>Koodikatu 1, 11010 Helsinki</td>
                      </tr>
                      <tr>
                        <td>Koodikatu 1, 11010 Helsinki</td>
                      </tr>
                      <tr>
                        <td>050 5550888</td>
                      </tr>
                      <tr>
                        <td>se@on.se</td>
                      </tr>
                    </tbody>
                </table>
            </td>
            
            {% elseif solu.tilausajankohta %}
            
          <td>
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td>TOIMII: {{solu.tilausajankohta}}</td> 
                </tr>
                <tr>
                  <td>Ei toimitettu</td>
                </tr>
                <tr>
                  <td>Soita baarimikolle kun saavut paikalle.</td>
                </tr>
              </tbody>
            </table>              
          </td>
            
            {% else %}
          
          <td>
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td>Keg</td> 
                </tr>
                <tr>
                  <td>20 €/kpl</td>
                </tr>
                <tr>
                  <td>10 €/kpl</td>
                </tr>
                <tr>
                  <td>20 litraa</td>
                </tr>
                <tr>
                  <td>3 kpl</td>
                </tr>
                <tr>
                  <td>60 €</td>
                </tr>
                <tr>
                  <td>30 €</td>
                </tr>
                <tr>
                  <td>525 €</td>
                </tr>                      
              </tbody>
            </table>                 
          </td>
            
            {% endif %}
          
          {% endfor %}
          
          
        <td>
            <a class="btn btn-danger" href="#">Poista tilaus</a>
            <br/>
            <a class="btn btn-success" href="#">Tilaus toimitettu!</a>
        </td>
        
        
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}