{% extends "base.html" %}
{% block content %}  
<h1>Oluterä</h1>

  <table class="table table-striped table-bordered"> 
    <thead>
      <tr>
        <th>Oluen nimi</th>
        <th>Valmistuminen</th>
        <th>Erän koko</th>
        <th>Erästä vapaana</th>
        <th>Hinta</th>
        <th></th>
    </thead>
    {% if olutera %}
    <tbody>
      <tr>
        <td>{{olutera.oluen_nimi}}</td>
        <td>{{olutera.valmistuminen}}</td>
        <td>{{olutera.eran_koko}} litraa</td>
        <td>{{olutera.vapaana}} litraa</td>
        <td>{{olutera.hinta}} €/litra</td>
        <td><form method="post" action="{{base_path}}/hallinnointi/oluterat/poisto">
                <input name="id" class="form-control" type="hidden" value="{{olutera.id}}">
                <button type="submit" class="btn btn-danger">Poista oluterä</button>
                </form></td>
        <td><form method="post" action="{{base_path}}/hallinnointi/oluterat/uusipvm">
                <input name="id" class="form-control" type="hidden" value="{{olutera.id}}">
                <input name="valmistuminen" class="form-control" type="date"> 
                <button type="submit" class="btn btn-primary">Muuta pvm</button>
            </form></td>
      </tr>
    </tbody>
    {% endif %}
  </table>

<br/>

{% if errors %}
 <div class="alert alert-danger">
   <ul>
     {% for error in errors %}
       <li>{{error}}</li>
     {% endfor %}
   </ul>
 </div>
{% endif %}

{% if message %}
 <div class="alert alert-success">
   {{message}}
 </div>
{% endif %}

<br/>

<h2>Oluterän kaikki tilaukset</h2>

  <table class="table table-striped table-bordered"> 
    <thead>
      <tr>
        <th>Tilaaja</th>
        <th>Tilauksen tiedot</th>
        <th>Tilauksen sisältö</th>
        
        
        <th></th>
    </thead>

    <tbody>
        
      {% for tilausrivi in tilausrivit %}
      
      <tr>
          
            <td>
                <table class="table table-striped table-bordered">
                    <tbody>
                      <tr>
                          <td><a href="{{base_path}}/hallinnointi/yritysasiakkaat/{{tilausrivi[0].id}}">{{tilausrivi[0].yrityksen_nimi}}</a></td> 
                      </tr>
                      <tr>
                        <td>{{tilausrivi[0].puhelinnumero}}</td>
                      </tr>
                      <tr>
                        <td>{{tilausrivi[0].toimitusosoite}}</td>
                      </tr>
                    </tbody>
                </table>
            </td>
            
          <td>
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td>{{tilausrivi[1].tilausajankohta}}</td> 
                </tr>
                <tr>
                  <td>Toimitettu: {{tilausrivi[1].toimitettu}}</td>
                </tr>
                <tr>
                  <td>Ohjeet: {{tilausrivi[1].toimitusohjeet}}</td>
                </tr>
              </tbody>
            </table>              
          </td>
            
          <td>
            
            {% for pakkaustyyppiJaLkm in tilausrivi[2] %}
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td>{{pakkaustyyppiJaLkm[0].pakkaustyypin_nimi}} x {{pakkaustyyppiJaLkm[1]}}</td> 
                </tr>
                <tr>
                  <td>({{pakkaustyyppiJaLkm[0].vetoisuus}} l, {{pakkaustyyppiJaLkm[0].hinta}} €, Pantti: {{pakkaustyyppiJaLkm[0].pantti}} €)</td>
                </tr>                   
              </tbody>
            </table>
            {% endfor %}
            
          </td>
            
        <td>
            <a class="btn btn-danger" href="#">Poista tilaus</a>
            <br/>
            <a class="btn btn-success" href="#">Tilaus toimitettu!</a>
        </td>
        
        
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}