{% extends "baseAdmin.html" %}
{% block content %}
  <h1>Kaikki oluterät</h1>

  <table class="table table-striped table-bordered"> 
    <thead>
      <tr>
        <th>Oluen nimi</th>
        <th>Valmistuminen</th>
        <th>Erän koko</th>
        <th>Erästä vapaana</th>
        <th>Hinta</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <!--Työntekijälle näytetään tietenkin kaikki oluterät, myös loppuunmyydyt-->
    <tbody>
      {% for olutera in oluterat %}
      <tr>
        <td>{{olutera.oluen_nimi}}</td>
        <td>{{olutera.valmistuminen}}</td>
        <td>{{olutera.eran_koko}} litraa</td>
        <td>{{olutera.vapaana}} litraa</td>
        <td>{{olutera.hinta_euroa}},{{olutera.hinta_senttia}} €/litra</td>
        <th><a class="btn btn-primary" href="{{base_path}}/hallinnointi/{{olutera.id}}">Näytä tilaukset</a></th>
        <th><a class="btn btn-primary" href="#">Siirry tilaamaan</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <br/>


  <form method="post" action="{{base_path}}/hallinnointi/oluterat/uusi">
  <table class="table table-striped table-bordered"> 
    <tbody>
      <tr> 
  {% if attributes %}  <!--Virheellisen lomakkeen lähetyksen jälkeen täytetään lomake käyttäjän lähettämillä syötteillä-->
        <td><input name="oluen_nimi" class="form-control" value="{{attributes.oluen_nimi}}" type="text"></td>
        <td><input name="valmistuminen" class="form-control" value="{{attributes.valmistuminen}}" type="date"></td>
        <td><input name="eran_koko" class="form-control" value="{{attributes.eran_koko}}" type="number"></td>
        <td><input name="hinta_euroa" class="form-control" value="{{attributes.hinta_euroa}}" type="number">
            <input name="hinta_senttia" class="form-control" value="{{attributes.hinta_senttia}}" type="number"></td>
        <td><button type="submit" class="btn btn-primary">Luo oluterä!</button></td>
  {% else %} <!--Muuten uusi puhdas lomake-->
        <td><input name="oluen_nimi" class="form-control" placeholder="Oluen nimi" type="text"></td>
        <td><input name="valmistuminen" class="form-control" type="date"></td>
        <td><input name="eran_koko" class="form-control" placeholder="Erän koko (litraa)" type="number"></td>
        <td><input name="hinta_euroa" class="form-control" placeholder="euroa" type="number">
            <input name="hinta_senttia" class="form-control" placeholder="snt" type="number"></td>
        <td><button type="submit" class="btn btn-primary">Luo oluterä!</button></td>
  {% endif %}
        </tr>
    </tbody>
  </table>
  </form>
  
  
   {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}
  
  
  <br/>
  
  <h1>Kaikki pakkaustyypit</h1>
  <table class="table table-striped table-bordered"> 
    <thead>
      <tr>
        <th>Pakkaustyypin nimi</th>
        <th>Vetoisuus</th>
        <th>Hinta</th>
        <th>Pantti</th>
        <th>Saatavilla</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Keg</td>
        <td>20 litraa</td>
        <td>10 €/kpl</td>
        <td>20 €/kpl</td>
        <td>Kyllä</td>
        <td><a class="btn btn-primary" href="#">Vaihda saatavuusstatusta</a></td>
      </tr>
    </tbody>
  </table>
  
  <br/>
  
  <form>
  <table class="table table-striped table-bordered"> 
    <tbody>
      <tr> <!--integerit ja datet ja valuet himmeiks katoaviks ainakin textissä!-->
        <td><input class="form-control" value="Pakkaustyypin nimi" type="text"></td>
        <td><input class="form-control" value="Vetoisuus" type="text"></td>
        <td><input class="form-control" value="Hinta" type="text"></td>
        <td><input class="form-control" value="Pantti" type="text"></td>
        <td></td>
        <td><button type="submit" class="btn btn-primary">Lisää pakkaustyyppi!</button></td>
      </tr>
    </tbody>
  </table>
  </form>
{% endblock %}