{% extends "base.html" %}
{% block content %}
  <h1>Myytävät oluterät</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Oluen nimi</th>
        <th>Valmistuminen</th>
        <th>Erän koko</th>
        <th>Erästä vapaana</th>
        <th>Hinta</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for olutera in oluterat %}
      <tr>
        <td>{{olutera.oluen_nimi}}</td>
        <td>{{olutera.valmistuminen}}</td>
        <td>{{olutera.eran_koko}} litraa</td>
        <td>{{olutera.vapaana}} litraa</td>
        <td>{{olutera.hinta}} €/litra</td>
        <td><a class="btn btn-success" href="{{base_path}}/tilaukset/uusi/{{olutera.id}}">Siirry tilaamaan</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}
  
{% endblock %}