{% extends "base.html" %}
{% block content %}
<div><h1>Yritysasiakkaiden tiedot</h1>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/hallinnointi/yritysasiakkaat/teeuusi" class="btn btn-primary">Luo uusi tunnus</a></div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Yrityksen nimi</th>
        <th>Puhelinnumero</th>
        <th>Sähköposti</th>
        <th>Voimassaolo</th>
        <th>Oikeudet</th>
        <th></th>
      </tr>
    </thead>
    <!--Työntekijälle näytetään tietenkin kaikki oluterät, myös loppuunmyydyt-->
    <tbody>
      {% for yritysasiakas in yritysasiakkaat %}
      <tr>
        <td><a href="{{base_path}}/hallinnointi/yritysasiakkaat/{{yritysasiakas.id}}">
            {{yritysasiakas.yrityksen_nimi}}</a></td>
        <td>{{yritysasiakas.puhelinnumero}}</td>
        <td>{{yritysasiakas.sahkoposti}}</td>
        <td>
        {% if yritysasiakas.aktiivinen == 1 %}
            <label class="label label-success">Kyllä</label>
        {% elseif yritysasiakas.aktiivinen == 0 %}
            <label class="label label-danger">Ei</label>
        {% endif %}</td>
        <td>
        {% if yritysasiakas.tyontekija == 1 %}
            <label class="label label-info">Työntekijä</label>
        {% elseif yritysasiakas.tyontekija == 0 %}
            <label class="label label-success">Asiakas</label>
        {% endif %}</td>
        <td>
        <a class="btn btn-default btn-sm" href="{{base_path}}/hallinnointi/yritysasiakkaat/muokkaa/{{yritysasiakas.id}}">
        Muokkaa</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}