{% extends "base.html" %}
{% block content %}

<h2>{{yritysasiakas.yrityksen_nimi}}</h2>&nbsp;&nbsp;
<a class="btn btn-default btn-sm" href="{{base_path}}/omattiedot/muokkaa">Muokkaa</a><br/>

<label>Y-tunnus: </label>{{yritysasiakas.y_tunnus}}<br/>
<label>Osoite: </label>{{yritysasiakas.osoite}}<br/>
<label>Toimitusosoite: </label>{{yritysasiakas.toimitusosoite}}<br/>
<label>Laskutusosoite: </label>{{yritysasiakas.laskutusosoite}}<br/>
<label>Puhelinnumero: </label>{{yritysasiakas.puhelinnumero}}<br/>
<label>Sähköposti: </label>{{yritysasiakas.sahkoposti}}<br/>
<label>Salasana: </label>{{yritysasiakas.salasana}}<br/>
        
  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

{% endblock %}
