{% extends "base.html" %}
{% block content %}

{% if user_name %}
    <h1>Myytävät oluterät</h1>
{% elseif admin_name %}
    <h1>Kaikki oluterät</h1>
{% endif %}



{% if admin_name %}
<form method="post" action="{{base_path}}/hallinnointi/oluterat/uusi">
{% endif %}

  <table class="table table-striped table-bordered"> 
    <thead>
      <tr>
        <th>Oluen nimi</th>
        <th>Valmistuminen</th>
        <th>Erän koko</th>
        <th>Vapaana</th>
        <th>Hinta</th>
        {% if user_name %}
        <th></th>
        {% elseif admin_name %}
        <th></th>
        <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        
    {% if admin_name %}
        <tr> 
    {% if attributes %}  <!--Virheellisen lomakkeen lähetyksen jälkeen täytetään lomake käyttäjän lähettämillä syötteillä-->
          <td><input class="form-control" name="oluen_nimi" value="{{attributes.oluen_nimi}}" type="text"></td>
          <td><input class="form-control" name="valmistuminen" value="{{attributes.valmistuminen}}" type="date"></td>
          <td><input class="form-control" name="eran_koko" value="{{attributes.eran_koko}}" type="text"></td>
          <td></td>
          <td><input class="form-control" name="hinta" value="{{attributes.hinta}}" type="text"></td>
          <td><button type="submit" class="btn btn-primary">Luo oluterä!</button></td>
          <td></td>
    {% else %} <!--Muuten uusi puhdas lomake-->
          <td><input class="form-control" name="oluen_nimi" placeholder="Oluen nimi" type="text"></td>
          <td><input class="form-control" name="valmistuminen" type="date"></td>
          <td><input class="form-control" name="eran_koko" placeholder="litraa" type="text"></td>
          <td></td>
          <td><input class="form-control" name="hinta" placeholder="€/litra" type="text"></td>
          <td><button type="submit" class="btn btn-info">Luo oluterä!</button></td>
          <td></td>
    {% endif %}
        </tr>
    {% endif %}  
        
      {% for olutera in oluterat %}
      <tr>
        <td>{{olutera.oluen_nimi}}</td>
        <td>{{olutera.valmistuminen}}</td>
        <td>{{olutera.eran_koko}} litraa</td>
        <td>{{olutera.vapaana}} litraa</td>
        <td>{{olutera.hinta}} €/litra</td>
        {% if user_name %}
        <td><a class="btn btn-success" href="{{base_path}}/tilaukset/uusi/{{olutera.id}}">Siirry tilaamaan</a></td>
        {% elseif admin_name %}
        <th><a class="btn btn-primary" href="{{base_path}}/hallinnointi/oluterat/{{olutera.id}}">Näytä Oluterä &amp; Tilaukset</a></th>
        <th><a class="btn btn-success" href="{{base_path}}/hallinnointi/tilaukset/uusi/{{olutera.id}}">Siirry tilaamaan</a></th>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% if admin_name %}
</form>
{% endif %}

{% endblock %}