{% extends "baseAdmin.html" %}
{% block content %}
<h1>Tilauksen koostaminen</h1>

  <div class="form-group">
    <select class="form-control">
        <option value="uusi">Varaa olutta pois myynnistä</option>
      <optgroup label="Kirjaa tilaus yritysasiakkaalle">
        <option value="id">Moi Oy</option>
        <option value="id">Jees Oy</option>
      </optgroup>
    </select>
  </div>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Pakkaustyyppi</th>
        <th>Pantin hinta</th>
        <th>Pakkauksen hinta</th>
        <th>Vetoisuus</th> <!--KOROSTA JOTENKIN?-->
        <th>Määrä</th> <!--Asiakas täyttää-->
        <th>Pantit yhteensä</th> <!--Javascript? laskee-->
        <th>Pakkaukset yhteensä</th> <!--Javascript? laskee-->    
        <th>Olut yhteensä</th> <!--Javascript? laskee-->  
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Keg</td>
        <td>20 €/kpl</td>
        <td>10 €/kpl</td>
        <td>20 litraa</td> <!--KOROSTA JOTENKIN?-->
        <td>3</td> <!--Asiakas täyttää-->
        <td>60 €</td> <!--Javascript? laskee-->
        <td>30 €</td> <!--Javascript? laskee-->
        <td>525 €</td> <!--Javascript? laskee-->  
      </tr>
    </tbody>
  </table>

  <!--YHTEENSÄ SUMMAT-->
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td>60 €</td> <!--KAIKKI Pantit--> <!--Javascript? laskee-->
        <td>30 €</td> <!--KAIKKI Pakkaukset--> <!--Javascript? laskee-->
        <td>525 €</td> <!--KAIKKI Oluet--> <!--Javascript? laskee-->  
      </tr>
    </tbody>
  </table>
  
  <!--LOPPUSUMMA-->
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>615 €</td> <!--LOPPUSUMMA--> <!--Javascript? laskee--> <!--LOPPUSUMMA--> <!--ALIGN RIGHT-->  
      </tr>
      <tr>
        <td><a class="btn btn-success" href="#">Lähetä tilaus</a></td> <!--LOMAKKEEN LÄHETYS-->
      </tr>
    </tbody>
  </table>
{% endblock %}